<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-item style="color: aliceblue;">
     Twitch mix
   </ion-item>


    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://media.newyorker.com/photos/5ad6313540fc7c73d830a3a8/1:1/w_3004,h_3004,c_limit/St-Felix-Kendrick-Lamar-Pulitzer.jpg">
      </ion-avatar>
      <ion-label>
        <h1>kendrick </h1>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>



    <span *ngFor="let item of tabela" >

      <ion-title>
         {{item.titulo}}
        </ion-title>
      <ion-item lines='none'>

        <ion-progress-bar [value]="calcularPorcentagem(item.porcentagem)" [color]="calcular(item.porcentagem)"></ion-progress-bar>

        <div class="info">
          {{item.porcentagem}}
        </div>

      </ion-item>
    </span>



  </ion-list>

</ion-content>
