.spacing{
  padding: 15px;
}

.label {
  padding-bottom: 15px;
}

ion-progress-bar {
  height: 8px;
}

h1 {
  color: #45a8d0;
}

.info {
  font-size: 30px;
    position: relative;
    top: -7px;
    margin-left: 15px;
    color: #45a8d0;
}

ion-content{

  --ion-background-color:#161523;
}

ion-title {
  color: #6d6d7b;
  text-transform: uppercase;
  font-size: 14px;
}

ion-header {
  --ion-background-color:#161523;
}
